nav
    a(href="#", title="title").class Anasayfa 
    a(href="#", title="title").class Hakkımızda 
    a(href="#", title="title").class İletişim 
    a(href="#", title="title").class Hizmetler 
    a(href="#", title="title").class Blog
    a(href="#", title="title").class Button 